.featured {
    position: relative;
    padding: 15px;
    margin-bottom: 50px !important;
    margin-top:40px;
    border-radius: 15px;
    border: 2px solid #929292;
    

}
.featured .in {
    position: relative;
    padding: 15px;
    background: #f3f3f3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.featured .txt{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Bitter', serif;
    text-align: center;
    text-transform: uppercase;
    font-family: 400;
}
.featured .in p{
    margin: 0;
    padding: 0;
}
.featured .container-icon{
    position: absolute;
    width: 90px;
    height: 90px;
    top: -45px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px !important;
    background: white;

}
.featured .icon{
    position: relative;
    width: 85%;
    height: 85%;
    margin: auto;
    border-radius: 50%;
}

.featured .reflita{
    background: url(../../../assets/images/identity/resources/case.png) #f3f3f3;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.citation{
    width: 100%;
    height: auto;
    background: url(../../../assets/images/identity/resources/citation-top.png);
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
}
.citation .in{
    width: 100%;
    height: 100%;
    padding: 50px;
    padding-top:10px;
    padding-bottom:10px;
    background: url(../../../assets/images/identity/resources/citation-bottom.png);
    background-position-x: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
}
.citation p{
    padding: 0;
    margin: 0;
}



/* PRF */

.featured-prf {
    position: relative;
    padding: 0;
    margin-bottom: 50px;
    margin-top:40px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
.featured-prf .in {
    position: relative;
    padding: 15px;
    width: 100%;
    height: 100%;
}
.featured-prf .in p{
    margin: 0;
    padding: 0;
}

.para-refletir {
    position: relative;
    padding: 0;
    padding-top: 37px;
    padding-left: 2px;
    margin-bottom: 50px !important;
    margin-top: 40px;    
    background: url(../../../assets/images/identity/resources/boxes_para_refletir_top.png);
    background-repeat: no-repeat;
}
.para-refletir .in {
    position: relative;
    padding: 15px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    background: url(../../../assets/images/identity/resources/boxes_para_refletir_bot.png)  #ffeec6;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
    width: 100%;
    height: 100%;
}
