:root {
	--DNIT_COLOR_PRIMARY_STRONG:        #0072b3;
	--DNIT_COLOR_PRIMARY:               #36a9e1;
	--DNIT_COLOR_AUX_STRONG:            #3c3c3b;
	--DNIT_COLOR_AUX:                   #706f6f;
	--COLOR_YELLOW_STR:                 #FECC2E;
	--COLOR_YELLOW_MED:                 #FFE596;
	--COLOR_YELLOW_SOF:                 #FFFAD2;
	--COLOR_BLUE_PRF: 					#282E56;
	
	--DNIT_FONT_COLOR:                  #191919;
	--PRF_FONT_COLOR: 				    #222222;

	--PRF_BG_BLUE_1: #262f56;
	--PRF_BG_BLUE_2: #005caa;
	--PRF_BG_BLUE_3: #7582aa;
    
    
	--DNIT_COLOR_MODULE_ONE_STRONG:     	#282E56;
	--DNIT_COLOR_MODULE_ONE_LIGHT:    		#FFE596;
	--DNIT_COLOR_MODULE_ONE_SUPER_LIGHT:  	#FFFAD2;
	--DNIT_COLOR_MODULE_ONE:            	#FECC2E;
	--PRF_COLOR_MODULE_ONE:              	#FECC2E;
	--PRF_COLOR_MODULE_SOF: 				rgb(101, 147, 207);
	
	--DNIT_COLOR_MODULE_TWO_STRONG:     	#79952a;
	--DNIT_COLOR_MODULE_TWO_LIGHT:    		#d6e7b1;
	--DNIT_COLOR_MODULE_TWO_SUPER_LIGHT:  	#eaf3d8;
	--DNIT_COLOR_MODULE_TWO:            	#93c020;

	--DNIT_COLOR_MODULE_THREE_STRONG:   	#b81615;
	--DNIT_COLOR_MODULE_THREE_LIGHT:    	#f0a1aa;
	--DNIT_COLOR_MODULE_THREE_SUPER_LIGHT:  #f7d0d5;
	--DNIT_COLOR_MODULE_THREE:         	 	#e30613;

    --DNIT_COLOR_MODULE_FOUR_STRONG:   	    #0072B2;
	--DNIT_COLOR_MODULE_FOUR_LIGHT:    	    #86CBEC;
	--DNIT_COLOR_MODULE_FOUR_SUPER_LIGHT:   #C2E5F6;
	--DNIT_COLOR_MODULE_FOUR:         	 	#35A8E0;
}
